template(name="home")
    .hero
        h3 HTML5 Game Development with Phaser
        p pyun pyun is one of <a href="http://ciara.meteor.com" target="_blank">my</a> many side projects.  I'm a Meteor developer and aspiring game developer.  Inspired by the side projects of other beginning indie game devs around the world, I decided it was finally time to just jump in!
        button(href="/games") Play Games!
