template(name="home")
    .hero
        h3 HTML5 Game Development with Phaser
        p Greetings web citizen.  <strong>pyun pyun</strong> is one of <a href="http://ciara.meteor.com" target="_blank">my</a> many side projects.  I'm Ciara Burkett, a <a href="#cosmology" target="_blank">Meteor developer</a> and aspiring game developer.  Inspired by the side projects of other amateur indie game devs around the world, I decided it was finally time to just jump in!
        button
            a(href="/games") Play Games!

    .widget
        .block
            <i class="fa fa-pencil"></i>
            h4 Design
            p All pixel art designed using Adobe Illustrator.
        .block
            <i class="fa fa-code"></i>
            h4 Develop
            p I'm using Phaser (duh) to code the games and Meteor for the website.
        .block
            <i class="fa fa-cloud-upload"></i>
            h4 Deploy
            p This site is hosted on Meteor's servers (for now).
