@import "packages/bourbon/bourbon";
@import "packages/neat/neat";
@import "bitters/bitters";
@import "variables";
@import "mixins";

// Color Variables
$cosmos: #2A242B;
$blue: #3F9DBA;
$dullpurple: #5F4C4C;
$lightdull: #DDD2D3;
$yellow: #FFD66C;

// Font Variables
$roboto: 'Roboto', sans-serif;
$condensed: 'Roboto Condensed', sans-serif;
$slab: 'Roboto Slab', serif;
// Media Queries

// Global
body {
    background-color: $cosmos;
    color: $lightdull;
    font-family: $roboto;
    font-weight: 300;
    margin: 0;
    h1, h2, h3, h4, h5, h6 {
        font-family: $condensed;
        // font-family: $roboto;
    }
}
// Header
header {
    background-color: $cosmos;
    height: 100px;
    width: 100%;
    .inner {
        @include outer-container;
        padding: 25px 0 25px 0;
        .logo {
            @include span-columns(3);
            h1 {
                font-style: italic;
                i {
                    color: $yellow;
                    font-size: 200%;
                    vertical-align: middle;
                }
            }
        }
        nav {
            @include span-columns(9);
            text-align: right;
            ul {
                float: right;
                li {
                    display: inline-block;
                    margin-right: 50px;
                    text-transform: uppercase;
                    a {
                        color: $lightdull;
                    }
                }
            }
        }
    }
}

// Main
.main {
    @include outer-container;
    margin-top: 50px;
    min-height: 800px;
    .hero {
        @include span-columns(12);
        background-color: $cosmos;
        font-size: 150%;
        margin: 50px 0 50px 0;
        padding: 36px;
        text-align: center;
        h3 {
            margin-bottom: 24px;
        }
        p {
            line-height: 36px;
        }
        a {
            color: $blue;
        }
        button {
            margin-top: 25px;
            a {
                color: white;
            }
        }
    }
    .widget {
        .block {
            @include span-columns(4);
            background-color: $cosmos;
            display: inline-block;
            font-size: 125%;
            min-height: 275px;
            padding: 20px;
            text-align: center;
            h4 {
                margin-bottom: 30px;
            }
            p {
                line-height: 30px;
                text-align: left;
            }
            i {
                font-size: 64px;
            }
        }
    }
}
// Footer
footer {
    background-color: $cosmos;
    width: 100%;
    hr {
        width: 50%;
    }
    .inner {
        @include outer-container;
        line-height: 24px;
        h5 {
            margin-bottom: 15px;
        }
        a {
            color: $dullpurple;
        }
        .left {
            @include span-columns(6);
            text-align: center;
        }
        .right {
            @include span-columns(6);
            @include omega();
            text-align: center;
        }
        .bottom {
            @include span-columns(12);
            color: $dullpurple;
            font-size: 85%;
            text-align: center;
        }
    }
}
