template(name="about")
    h2 About
    p I'm Ciara Burkett, Meteor developer and aspiring indie game maker.  pyun pyun is my HTML5/Phaser game development side project where I'll be showcasing all of my browser-based games.
    p My very first game, Termina, is a text-based game coded in pure C as a programming exercise.  I'm not yet sure if I'm going to continue trying to make games in C (for its own sake), but whatever I make, I'd like it to be as accessible as possible.
    p All game assets will be designed with Adobe Illustrator, coded with Phaser, and hosted on Meteor's servers (for now).
    p Well, wish me luck!  Let's see if I can make One Game a Month.
    p NOTE:  Here is the <a href="http://www.colourlovers.com/palette/3346331/pyun_pyun" target="_blank">link to the color scheme</a> I created for this website.
