template(name="contact")
    h2 Contact
    p You can find me around the web:
    ul
        li: a(href="https://medium.com/@ciaraburkett", target="_blank") Medium
        li: a(href="http://www.twitter.com/ciaraburkett", target="_blank") Twitter
        li: a(href="htp://www.ciaraburkett.tumblr.com", target="_blank") Tumblr
        li: a(href="https://www.linkedin.com/in/ciaraburkett", target="_blank") LinkedIn
