template(name="footer")
    footer
        // center
        //     hr
        .inner
            .left
                h5 Navigation
                ul
                    li: a(href="/") Home
                    li: a(href="/about") About
                    li: a(href="games") Games
                    li: a(href="http://www.tumblr.pyunpyun.com") Blog
                    li: a(href="/contact") Contact
            .right
                h5 Follow Me
                ul
                    li: a(href="#") Twitter
                    li: a(href="#") Facebook
                    li: a(href="#") LinkedIn
                    li: a(href="#") Tumblr
                    li: a(href="#") Behance
            .bottom
                p &hearts;
