template(name="header")
    header
        .inner
            .logo
                h1 <i class="fa fa-bolt"></i> pyun pyun!
            nav
                ul
                    li: a(href="/") Home
                    li: a(href="/about") About
                    li: a(href="games") Games
                    li: a(href="http://www.tumblr.pyunpyun.com") Blog
                    li: a(href="/contact") Contact
